body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container {
  width: 730px;
}

table {
  text-align:center;
  font-weight:bold;
}
td {
  vertical-align:middle !important;
}

.player1 {
  background-color: #F5E1E1;
}

.player2 {
  background-color: #C4C5F5;
}